

1. Pull all current sections enrollments that should be graded
2. Join with Platform Letter Grades
3. Convert letter grades to P/NP
4. Export CSV for SL review
5. Export TXT for student_grades import

In [1]:
import pandas as pd
import numpy as np
from pandas import ExcelWriter

from sps_automation import legacy as sps

conf = sps.load_config('./config/config.ini')

In [6]:
# create a database connection object for CA database
db_ca = sps.connect_to_ca_illuminate_db()
#db_wa = sps.connect_to_wa_illuminate_db()

In [5]:
# query the Illuminate database to pull all "gradable" enrollments.
query = """
SELECT
  local_student_id || ' ' ||
    CASE WHEN right(school_course_id,1) = 'M' THEN left(school_course_id,length(school_course_id)-1) ELSE school_course_id END AS stu_crs_lookup
  , sites.site_name
  , students.local_student_id
  , students.last_name
  , students.first_name
  , (sterma.grade_level_id - 1) as current_grade_level
  , ssa.section_id
  , sections.local_section_id
  , departments.department_name
  , courses.school_course_id
  , courses.short_name
  , courses.variable_credits_high AS max_credits
  , users.last_name || ', ' || users.first_name AS teacher
  , sites.site_id

FROM
  matviews.student_term_aff AS sterma

LEFT JOIN (SELECT * FROM terms WHERE terms.start_date >= '2017-08-15' AND terms.end_date <= '2018-06-22' AND terms.term_name = 'Year') AS sy18terms on sterma.term_id = sy18terms.term_id
LEFT JOIN (SELECT * FROM student_session_aff WHERE (student_session_aff.leave_date IS NULL OR student_session_aff.leave_date BETWEEN '2018-05-15' AND '2018-06-23')) AS ssessa ON ssessa.student_id = sterma.student_id
LEFT JOIN (SELECT * FROM sessions WHERE sessions.academic_year = 2018 AND sessions.session_type_id = 1) AS sy18sess ON ssessa.session_id = sy18sess.session_id
LEFT JOIN sites on sy18sess.site_id = sites.site_id
LEFT JOIN students on sterma.student_id = students.student_id
LEFT JOIN (SELECT * FROM section_student_aff WHERE entry_date >= '2017-08-15' AND (leave_date IS NULL or leave_date > '2018-05-15')) AS ssa on ssa.student_id  = sterma.student_id
LEFT JOIN sections on ssa.section_id = sections.section_id
LEFT JOIN courses on ssa.course_id = courses.course_id
LEFT JOIN departments on courses.department_id = departments.department_id
LEFT JOIN section_teacher_aff sta on sta.section_id = ssa.section_id
LEFT JOIN users on sta.user_id = users.user_id

WHERE
  courses.transcript_inclusion IS NOT FALSE
  AND courses.is_active IS TRUE
  AND courses.variable_credits_high  >= 0.5
  AND (sterma.leave_date > '2018-05-20' OR sterma.leave_date IS NULL)
  AND sterma.entry_date < '2018-05-20'
  AND sta.primary_teacher IS TRUE
  AND (sta.end_date > '2018-06-01' OR sta.end_date IS NULL)
  AND sy18sess.site_id NOT IN (9999999,9999998,9999997)

--   AND students.local_student_id = '20916'

GROUP BY
  sites.site_name
  , students.local_student_id
  , students.last_name
  , students.first_name
  , sterma.grade_level_id
  , ssa.section_id
  , sections.local_section_id
  , departments.department_name
  , courses.school_course_id
  , courses.short_name
  , ssa.entry_date
  , ssa.leave_date
  , courses.variable_credits_high
  , users.last_name
  , users.first_name
  , sites.site_id

ORDER BY
  site_name
  , sterma.grade_level_id
  , last_name
  , first_name
  , school_course_id
"""

In [6]:
#Load query results as "gradable sections"
gs_ca = pd.read_sql(query,db_ca['connection'])
#gs_wa = pd.read_sql(query,db_wa['connection'])


#make sure 'local_student_id' is INT
gs_ca['local_student_id'] = pd.to_numeric(gs_ca['local_student_id'])
#gs_wa['local_student_id'] = pd.to_numeric(gs_wa['local_student_id'])

gs_ca.shape
#gs_wa.shape

(26647, 14)

In [7]:
#gs_all = pd.concat ([gs_ca,gs_wa])
gs_nodups = gs_ca.drop_duplicates(subset = 'stu_crs_lookup', keep = 'last')


gs_nodups.head(10)

#export csv
gs_nodups.to_csv('../data/Outputs/ca_gradable_sections.csv')

gs_nodups.shape

(20402, 14)

In [9]:
#TODO: Read in the platform grades CSV to a dataframe called pl_grades and 

pl_dump = pd.read_csv('../data/Inputs/ca_platformgrades.csv', encoding='latin-1')

#drop duplicate records
pl_nodups = pl_dump.drop_duplicates(subset = 'stu_crs_lookup', keep = 'last')

#create a "is_failing" flag
fail_grades = ['I','F','NP']

def is_failing(corrected_grade):
    if corrected_grade in fail_grades:
        return True
    else: 
        return False

    
pl_nodups['is_failing?'] = pl_nodups['corrected_grade'].apply(is_failing)

#merge queried sections with platform courses

merged_grades = pd.merge(gs_nodups[['stu_crs_lookup','site_name','local_student_id','last_name','first_name','current_grade_level','section_id','local_section_id','department_name','school_course_id','short_name','max_credits','teacher','site_id']], 
                         pl_nodups[['stu_crs_lookup','grade_type','LETTER_GRADE','corrected_grade','is_failing?','inc_reason','date_of_pull']], on = 'stu_crs_lookup', how = 'left', suffixes=('_ill','_pltfrm'))

merged_grades.shape

C:\Users\Bobby Cupp\Anaconda3\envs\summit\lib\site-packages\ipykernel\__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

(20402, 20)

In [10]:
#export csv
merged_grades.to_csv('../data/Outputs/ca_merged_grades_export.csv')

#assert gs_nodups.shape[1] == merged_grades.shape[1]

In [11]:
# Create a simplified dataframe for viewing 

simple_df = merged_grades[['site_name','local_student_id','last_name','first_name','current_grade_level','department_name','school_course_id','short_name','teacher','date_of_pull']]

simple_pltfm = simple_df
simple_pltfm['LETTER_GRADE'] = merged_grades.LETTER_GRADE
simple_pltfm['corrected_grade'] = merged_grades.corrected_grade
simple_pltfm['Inc Reason'] = merged_grades.inc_reason
simple_pltfm['stu_crs_lookup'] = merged_grades.stu_crs_lookup

#export csv
simple_pltfm.to_csv('../data/Outputs/ca_simple_pltfm.csv')

simple_pltfm.head(10)

C:\Users\Bobby Cupp\Anaconda3\envs\summit\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Bobby Cupp\Anaconda3\envs\summit\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Bobby Cupp\Anaconda3\envs\summit\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Bobby Cupp\Anaconda3\envs\summit\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,site_name,local_student_id,last_name,first_name,current_grade_level,department_name,school_course_id,short_name,teacher,date_of_pull,LETTER_GRADE,corrected_grade,Inc Reason,stu_crs_lookup
0,Everest Public High School,21266,Abild-Pedersen,Jonas,9,History,A100,World Studies I,"Buller, Alana",7/22/2018 12:00:00 AM,B+,B+,PFA?[_] Proj Score?[_] Ovrdue Proj?[_],21266 A100
1,Everest Public High School,21266,Abild-Pedersen,Jonas,9,English,B100,English 9,"Shamaeva, Jane",7/22/2018 12:00:00 AM,A-,A-,PFA?[_] Proj Score?[_] Ovrdue Proj?[_],21266 B100
2,Everest Public High School,21266,Abild-Pedersen,Jonas,9,Math,C120,Mathematics I,"Horovitz, Torri",7/22/2018 12:00:00 AM,A,A,PFA?[_] Proj Score?[_] Ovrdue Proj?[_],21266 C120
3,Everest Public High School,21266,Abild-Pedersen,Jonas,9,Science,D100,Biology,"Sacksteder, Jessica",7/22/2018 12:00:00 AM,B,B,PFA?[_] Proj Score?[_] Ovrdue Proj?[_],21266 D100
4,Everest Public High School,21266,Abild-Pedersen,Jonas,9,Spanish,E100,Spanish 1,"Meier, Michael",7/22/2018 12:00:00 AM,B+,B+,PFA?[_] Proj Score?[_] Ovrdue Proj?[_],21266 E100
5,Everest Public High School,21266,Abild-Pedersen,Jonas,9,Visual and Performing Arts,F511,Intro to Video Production,"Esparza-Johnson, Estrella",7/22/2018 12:00:00 AM,B,B,PFA?[_] Proj Score?[_] Ovrdue Proj?[_],21266 F511
6,Everest Public High School,21266,Abild-Pedersen,Jonas,9,Expeditions,I1999,Communications,"Redlin, Danielle",7/22/2018 12:00:00 AM,A+,P,PFA?[_] Proj Score?[_] Ovrdue Proj?[_],21266 I1999
7,Everest Public High School,21219,Aguilar-Sosa,Oscar,9,History,A100,World Studies I,"Buller, Alana",7/22/2018 12:00:00 AM,C+,C+,PFA?[_] Proj Score?[_] Ovrdue Proj?[_],21219 A100
8,Everest Public High School,21219,Aguilar-Sosa,Oscar,9,English,B100,English 9,"Shamaeva, Jane",7/22/2018 12:00:00 AM,C-,C-,PFA?[_] Proj Score?[_] Ovrdue Proj?[_],21219 B100
9,Everest Public High School,21219,Aguilar-Sosa,Oscar,9,Math,C120,Mathematics I,"Horovitz, Torri",7/22/2018 12:00:00 AM,B-,B-,PFA?[_] Proj Score?[_] Ovrdue Proj?[_],21219 C120

In [ ]:
# Generate a list of stu/sections without a platform grade

ungraded_sects = simple_df[pd.isnull(merged_grades.LETTER_GRADE)]

ungraded_sects.sort_values(['teacher','site_name','school_course_id'], ascending=[True,True,True])

#export csv
ungraded_sects.to_csv('../data/Outputs/ca_ungraded_sections.csv')

ungraded_sects.shape

In [ ]:
# Generate a list of SENIOR stu/sections with I/F Grades

senior_fails = simple_pltfm[(simple_pltfm.LETTER_GRADE == 'I') & (simple_pltfm.current_grade_level == 12) & (simple_df.local_student_id != 40477
)]

senior_fails.sort_values(['site_name','local_student_id'], ascending=[True,True])


#export csv
senior_fails.to_csv('../data/Outputs/senior_fails.csv')

senior_fails.shape

In [12]:
# Generate a student_grades.txt file for import to Illuminate

student_grades_pieces = merged_grades[['local_student_id','site_id','local_section_id','school_course_id', 'current_grade_level','corrected_grade','max_credits','is_failing?']]

student_grades_pieces['grading_period_name'] = 'Final Grades'
student_grades_pieces['academic_year'] = '2018'
student_grades_pieces['credits_received'] = np.where(student_grades_pieces['is_failing?'] == True, 0, student_grades_pieces.max_credits)
student_grades_pieces['is_final?'] = 1
student_grades_pieces['is_repeat?'] = 0
student_grades_pieces['session_type_id'] = 1

student_grades_txt = student_grades_pieces[['local_student_id','site_id','grading_period_name','academic_year','local_section_id','school_course_id','corrected_grade','max_credits','credits_received','is_final?','is_repeat?','session_type_id']]
student_grades_txt.head(10)

#export csv
student_grades_txt.to_csv('../data/Outputs/ca_student_grades.csv')

student_grades_txt.head(10)

C:\Users\Bobby Cupp\Anaconda3\envs\summit\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Bobby Cupp\Anaconda3\envs\summit\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Bobby Cupp\Anaconda3\envs\summit\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Bobby Cupp\Anaconda3\envs\summit\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Bobby Cupp\Anaconda3\envs\summit\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Bobby Cupp\Anaconda3\envs\summit\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,local_student_id,site_id,grading_period_name,academic_year,local_section_id,school_course_id,corrected_grade,max_credits,credits_received,is_final?,is_repeat?,session_type_id
0,21266,4,Final Grades,2018,75781,A100,B+,1.0,1.0,1,0,1
1,21266,4,Final Grades,2018,75750,B100,A-,1.0,1.0,1,0,1
2,21266,4,Final Grades,2018,75797,C120,A,1.0,1.0,1,0,1
3,21266,4,Final Grades,2018,75840,D100,B,1.0,1.0,1,0,1
4,21266,4,Final Grades,2018,75775,E100,B+,1.0,1.0,1,0,1
5,21266,4,Final Grades,2018,2018EVERF511PMEsp,F511,B,1.0,1.0,1,0,1
6,21266,4,Final Grades,2018,83165,I1999,P,1.0,1.0,1,0,1
7,21219,4,Final Grades,2018,75781,A100,C+,1.0,1.0,1,0,1
8,21219,4,Final Grades,2018,75820,B100,C-,1.0,1.0,1,0,1
9,21219,4,Final Grades,2018,75850,C120,B-,1.0,1.0,1,0,1

# This part is for after you have imported all grades - generate lists for school review/auditing.

In [7]:
# Generate a list of all Final Grades for this year.
query_final = """
SELECT
  local_student_id || ' ' ||
    CASE WHEN right(school_course_id,1) = 'M' THEN left(school_course_id,length(school_course_id)-1) ELSE school_course_id END AS stu_crs_lookup
  , sites.site_name
  , sites.site_id
  , students.local_student_id
  , students.last_name || ', ' || students.first_name AS name
  , (sterma.grade_level_id - 1) as current_grade_level
  , ssa.section_id
  , courses.school_course_id
  , courses.short_name
  , departments.department_name
  , users.last_name || ', ' || users.first_name AS teacher
  , grades.grade
  , sg.credits_received
  , sg.credits_possible

FROM
  matviews.student_term_aff AS sterma

LEFT JOIN (SELECT * FROM terms WHERE terms.start_date = '2017-08-15' AND terms.end_date = '2018-06-07' AND terms.term_name = 'Year') AS sy18terms on sterma.term_id = sy18terms.term_id
LEFT JOIN (SELECT * FROM student_session_aff WHERE student_session_aff.leave_date BETWEEN '2018-05-15' AND '2018-06-15') AS ssessa ON ssessa.student_id = sterma.student_id
LEFT JOIN (SELECT * FROM sessions WHERE sessions.academic_year = 2018 AND sessions.session_type_id = 1) AS sy18sess ON ssessa.session_id = sy18sess.session_id
LEFT JOIN sites on sy18sess.site_id = sites.site_id
LEFT JOIN students on sterma.student_id = students.student_id
LEFT JOIN (SELECT * FROM section_student_aff WHERE entry_date >= '2017-08-15' AND (leave_date IS NULL or leave_date > '2018-05-15')) AS ssa on ssa.student_id  = sterma.student_id
LEFT JOIN sections on ssa.section_id = sections.section_id
LEFT JOIN courses on ssa.course_id = courses.course_id
LEFT JOIN departments on courses.department_id = departments.department_id
LEFT JOIN section_teacher_aff sta on sta.section_id = ssa.section_id
LEFT JOIN users on sta.user_id = users.user_id
LEFT JOIN section_grading_period_aff sgpa on sections.section_id = sgpa.section_id
LEFT JOIN student_grades sg on sgpa.sgpa_id = sg.sgpa_id AND sg.student_id = students.student_id
LEFT JOIN grades on grades.grade_id = sg.grade_id

WHERE
  courses.transcript_inclusion IS NOT FALSE
  AND courses.is_active IS TRUE
  AND courses.variable_credits_high  >= 0.5
  AND sterma.leave_date > '2018-05-20' AND sterma.entry_date < '2018-05-20'
  AND sta.primary_teacher IS TRUE
  AND (sta.end_date > '2018-06-01' OR sta.end_date IS NULL)

  AND grades.grade IS NOT NULL
  AND sg.is_final IS TRUE

--   AND students.local_student_id = '20916'

GROUP BY
sites.site_name
  , sites.site_id
  , students.local_student_id
  , students.last_name
  , students.first_name
  , sterma.grade_level_id
  , ssa.section_id
  , courses.school_course_id
  , courses.short_name
  , departments.department_name
  , users.last_name
  , users.first_name
  , grades.grade
  , sg.credits_received
  , sg.credits_possible

ORDER BY
  sites.site_id
  , sterma.grade_level_id
  , current_grade_level
  , name
  , school_course_id
"""

In [8]:
#Load query results as "posted_grades"
pgraw_ca = pd.read_sql(query_final,db_ca['connection'])
#pgraw_wa = pd.read_sql(query_final,db_wa['connection'])


#make sure 'local_student_id' is INT
pgraw_ca['local_student_id'] = pd.to_numeric(pgraw_ca['local_student_id'])
#pgraw_wa['local_student_id'] = pd.to_numeric(pg_wa['local_student_id'])

#remove duplicates
pg_ca = pgraw_ca.drop_duplicates(subset = 'stu_crs_lookup', keep = 'last')
pg_ca = pg_ca[pg_ca.columns[1:]]
pg_ca.head(5)
#pg_wa.shape

,site_name,site_id,local_student_id,name,current_grade_level,section_id,school_course_id,short_name,department_name,teacher,grade,credits_received,credits_possible
0,Summit Public School: Rainier,1,30912,"Abdulhamidov, Romuz",9,79876,A100,World Studies I,History,"Hauver, Justin",A+,1.0,1.0
1,Summit Public School: Rainier,1,30912,"Abdulhamidov, Romuz",9,79826,B100,English 9,English,"Kim, Sunli",A-,1.0,1.0
2,Summit Public School: Rainier,1,30912,"Abdulhamidov, Romuz",9,79874,C220,Mathematics II,Math,"Creutzfeldt, Hannah",A+,1.0,1.0
3,Summit Public School: Rainier,1,30912,"Abdulhamidov, Romuz",9,79872,D100,Biology,Science,"Ramachandran, Shaila",A+,1.0,1.0
4,Summit Public School: Rainier,1,30912,"Abdulhamidov, Romuz",9,79848,E100,Spanish 1,Spanish,"Mosqueira, Isela",A+,1.0,1.0

In [9]:
#export all to csv
pg_ca.to_csv('../data/Outputs/ca_postedgrades.csv')

#Rainier Grades
de_index = pg_ca['site_id'] == 1
pg_de = pg_ca[de_index]
inc_de_index = pg_de['grade'].isin(['F','I','NP'])
inc_de = pg_de[inc_de_index]

grades_by_gl_de = pg_de.pivot_table(index='current_grade_level',
                                      columns='grade',
                                      values='local_student_id',
                                      aggfunc='count',
                                      margins=True)
grades_by_gl_de = grades_by_gl_de.fillna(0).astype(int)

grades_by_course_de = pg_de.pivot_table(index=['department_name','short_name'],
                                      columns='grade',
                                      values='local_student_id',
                                      aggfunc='count',
                                      margins=True)
grades_by_course_de = grades_by_course_de.fillna(0).astype(int)

#export to Excel
writer = ExcelWriter('../data/Outputs/posted_grades/final_grades_sy18_rainier.xlsx')
pg_de.to_excel(writer,'all grades',index=False)
inc_de.to_excel(writer,'incompletes',index=False)
grades_by_gl_de.to_excel(writer,'grades by grade level')
grades_by_course_de.to_excel(writer,'grades by course')
writer.save()

In [10]:
#Tahoma Grades
ta_index = pg_ca['site_id'] == 2
pg_ta = pg_ca[ta_index]
inc_ta_index = pg_ta['grade'].isin(['F','I','NP'])
inc_ta = pg_ta[inc_ta_index]

grades_by_gl_ta = pg_ta.pivot_table(index='current_grade_level',
                                      columns='grade',
                                      values='local_student_id',
                                      aggfunc='count',
                                      margins=True)
grades_by_gl_ta = grades_by_gl_ta.fillna(0).astype(int)

grades_by_course_ta = pg_ta.pivot_table(index=['department_name','short_name'],
                                      columns='grade',
                                      values='local_student_id',
                                      aggfunc='count',
                                      margins=True)
grades_by_course_ta = grades_by_course_ta.fillna(0).astype(int)

#export to Excel
writer = ExcelWriter('../data/Outputs/posted_grades/final_grades_sy18_tahoma.xlsx')
pg_ta.to_excel(writer,'all grades',index=False)
inc_ta.to_excel(writer,'incompletes',index=False)
grades_by_gl_ta.to_excel(writer,'grades by grade level')
grades_by_course_ta.to_excel(writer,'grades by course')
writer.save()

In [11]:
#Summit Prep Grades
sp_index = pg_ca['site_id'] == 3
pg_sp = pg_ca[sp_index]
inc_sp_index = pg_sp['grade'].isin(['F','I','NP'])
inc_sp = pg_sp[inc_sp_index]

grades_by_gl_sp = pg_sp.pivot_table(index='current_grade_level',
                                      columns='grade',
                                      values='local_student_id',
                                      aggfunc='count',
                                      margins=True)
grades_by_gl_sp = grades_by_gl_sp.fillna(0).astype(int)

grades_by_course_sp = pg_sp.pivot_table(index=['department_name','short_name'],
                                      columns='grade',
                                      values='local_student_id',
                                      aggfunc='count',
                                      margins=True)
grades_by_course_sp = grades_by_course_sp.fillna(0).astype(int)

#export to Excel
writer = ExcelWriter('../data/Outputs/posted_grades/final_grades_sy18_summitprep.xlsx')
pg_sp.to_excel(writer,'all grades',index=False)
inc_sp.to_excel(writer,'incompletes',index=False)
grades_by_gl_sp.to_excel(writer,'grades by grade level')
grades_by_course_sp.to_excel(writer,'grades by course')
writer.save()

In [12]:
#Everest Grades
ev_index = pg_ca['site_id'] == 4
pg_ev = pg_ca[ev_index]
inc_ev_index = pg_ev['grade'].isin(['F','I','NP'])
inc_ev = pg_ev[inc_ev_index]

grades_by_gl_ev = pg_ev.pivot_table(index='current_grade_level',
                                      columns='grade',
                                      values='local_student_id',
                                      aggfunc='count',
                                      margins=True)
grades_by_gl_ev = grades_by_gl_ev.fillna(0).astype(int)

grades_by_course_ev = pg_ev.pivot_table(index=['department_name','short_name'],
                                      columns='grade',
                                      values='local_student_id',
                                      aggfunc='count',
                                      margins=True)
grades_by_course_ev = grades_by_course_ev.fillna(0).astype(int)

#export to Excel
writer = ExcelWriter('../data/Outputs/posted_grades/final_grades_sy18_everest.xlsx')
pg_ev.to_excel(writer,'all grades',index=False)
inc_ev.to_excel(writer,'incompletes',index=False)
grades_by_gl_ev.to_excel(writer,'grades by grade level')
grades_by_course_ev.to_excel(writer,'grades by course')
writer.save()

In [13]:
#Denali Grades
de_index = pg_ca['site_id'] == 5
pg_de = pg_ca[de_index]
inc_de_index = pg_de['grade'].isin(['F','I','NP'])
inc_de = pg_de[inc_de_index]

grades_by_gl_de = pg_de.pivot_table(index='current_grade_level',
                                      columns='grade',
                                      values='local_student_id',
                                      aggfunc='count',
                                      margins=True)
grades_by_gl_de = grades_by_gl_de.fillna(0).astype(int)

grades_by_course_de = pg_de.pivot_table(index=['department_name','short_name'],
                                      columns='grade',
                                      values='local_student_id',
                                      aggfunc='count',
                                      margins=True)
grades_by_course_de = grades_by_course_de.fillna(0).astype(int)

#export to Excel
writer = ExcelWriter('../data/Outputs/posted_grades/final_grades_sy18_denali.xlsx')
pg_de.to_excel(writer,'all grades',index=False)
inc_de.to_excel(writer,'incompletes',index=False)
grades_by_gl_de.to_excel(writer,'grades by grade level')
grades_by_course_de.to_excel(writer,'grades by course')
writer.save()

In [14]:
#Shasta Grades
sh_index = pg_ca['site_id'] == 6
pg_sh = pg_ca[sh_index]
inc_sh_index = pg_sh['grade'].isin(['F','I','NP'])
inc_sh = pg_sh[inc_sh_index]

grades_by_gl_sh = pg_sh.pivot_table(index='current_grade_level',
                                      columns='grade',
                                      values='local_student_id',
                                      aggfunc='count',
                                      margins=True)
grades_by_gl_sh = grades_by_gl_sh.fillna(0).astype(int)

grades_by_course_sh = pg_sh.pivot_table(index=['department_name','short_name'],
                                      columns='grade',
                                      values='local_student_id',
                                      aggfunc='count',
                                      margins=True)
grades_by_course_sh = grades_by_course_sh.fillna(0).astype(int)

#export to Excel
writer = ExcelWriter('../data/Outputs/posted_grades/final_grades_sy18_shasta.xlsx')
pg_sh.to_excel(writer,'all grades',index=False)
inc_sh.to_excel(writer,'incompletes',index=False)
grades_by_gl_sh.to_excel(writer,'grades by grade level')
grades_by_course_sh.to_excel(writer,'grades by course')
writer.save()

In [15]:
#K2 Grades
k2_index = pg_ca['site_id'] == 7
pg_k2 = pg_ca[k2_index]
inc_k2_index = pg_k2['grade'].isin(['F','I','NP'])
inc_k2 = pg_k2[inc_k2_index]

grades_by_gl_k2 = pg_k2.pivot_table(index='current_grade_level',
                                      columns='grade',
                                      values='local_student_id',
                                      aggfunc='count',
                                      margins=True)
grades_by_gl_k2 = grades_by_gl_k2.fillna(0).astype(int)

grades_by_course_k2 = pg_k2.pivot_table(index=['department_name','short_name'],
                                      columns='grade',
                                      values='local_student_id',
                                      aggfunc='count',
                                      margins=True)
grades_by_course_k2 = grades_by_course_k2.fillna(0).astype(int)

#export to Excel
writer = ExcelWriter('../data/Outputs/posted_grades/final_grades_sy18_k2.xlsx')
pg_k2.to_excel(writer,'all grades',index=False)
inc_k2.to_excel(writer,'incompletes',index=False)
grades_by_gl_k2.to_excel(writer,'grades by grade level')
grades_by_course_k2.to_excel(writer,'grades by course')
writer.save()

In [16]:
#Tamalpais Grades
tm_index = pg_ca['site_id'] == 8
pg_tm = pg_ca[tm_index]
inc_tm_index = pg_tm['grade'].isin(['F','I','NP'])
inc_tm = pg_tm[inc_tm_index]

grades_by_gl_tm = pg_tm.pivot_table(index='current_grade_level',
                                      columns='grade',
                                      values='local_student_id',
                                      aggfunc='count',
                                      margins=True)
grades_by_gl_tm = grades_by_gl_tm.fillna(0).astype(int)

grades_by_course_tm = pg_tm.pivot_table(index=['department_name','short_name'],
                                      columns='grade',
                                      values='local_student_id',
                                      aggfunc='count',
                                      margins=True)
grades_by_course_tm = grades_by_course_tm.fillna(0).astype(int)

#export to Excel
writer = ExcelWriter('../data/Outputs/posted_grades/final_grades_sy18_tamalpais.xlsx')
pg_tm.to_excel(writer,'all grades',index=False)
inc_tm.to_excel(writer,'incompletes',index=False)
grades_by_gl_tm.to_excel(writer,'grades by grade level')
grades_by_course_tm.to_excel(writer,'grades by course')
writer.save()